.review-rating__display {
  position: absolute;
  background: #ff6a95;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  top: -20px;
  left: -20px;
  text-align: center;
  line-height: 2.8rem;
  color: white;
  font-weight: bold;
}

.close,
.edit {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
}

.edit {
  right: 40px;
}

.btn-icons {
  color: #ff6a95;
}

.btn-icons:hover {
  color: black;
}
